@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: purple;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid purple;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: purple;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: purple;
}



/* Header Kısmı */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
	background-image: linear-gradient(60deg, #817983 0%, #7f6280eb 100%);
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: purple;
}
#header .eren {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .eren:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: nurhat_puls 1s ease infinite;
}
#header .eren .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .eren .bar::after,
#header .eren .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .eren .bar::after {
	top: 8px;
}
#header .eren .bar::before {
	bottom: 8px;
}
#header .eren.active .bar::before {
	bottom: 0;
}
#header .eren.active .bar::after {
	top: 0;
}
/* Header Kısmı Bitti */



/* Anasayfa Kısmı */
#anasayfa {
	background-image: url(./Resimler/arkaplan1.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 3;
}
#anasayfa::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#anasayfa .home{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#anasayfa h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#anasayfa h1:nth-child(1) {
	animation-delay: 1s;
}
#anasayfa h1:nth-child(2) {
	animation-delay: 2s;
}
#anasayfa h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#anasayfa h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: purple;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#anasayfa h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#anasayfah1:nth-child(2) span {
	animation-delay: 1.5s;
}
#anasayfa h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* Anasayfa Kısmı Bitti */



/* Beceriler Kısmı */
#beceriler .skills {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#beceriler .beceriler-top {
	max-width: 500px;
	margin: 0 auto;
}
#beceriler .beceriler-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#beceriler .beceriler-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/c.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#beceriler .beceriler-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#beceriler .beceriler-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#beceriler .beceriler-item:hover{
	box-shadow: 0px 0px 12px 0 purple;
}
#beceriler .beceriler-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#beceriler .beceriler-item p {
	color: white;
	text-align: left;
}
/* Beceriler Kısmı Bitti */



/* Eğitim Kısmı */
#eğitim .education {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#eğitim .eğitim-header h1 {
	margin-bottom: 50px;
}
#eğitim .tüm-eğitimler {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#eğitim .eğitim-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#eğitim .eğitim-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#eğitim .eğitim-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#eğitim .eğitim-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#eğitim .eğitim-info p {
	color: white;
}
#eğitim .eğitim-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#eğitim .eğitim-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#eğitim .eğitim-img img {
	transition: 0.3s ease transform;
}
#eğitim .eğitim-item:hover .eğitim-img img {
	transform: scale(1.1);
}
/* Eğitim Kısmı Bitti */



/* Hakkımda Kısmı*/
#hakkımda .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#hakkımda .col-left {
	width: 250px;
	height: 360px;
}
#hakkımda .col-right {
	width: 100%;
}
#hakkımda .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#hakkımda .col-right p {
	margin-bottom: 20px;
}
#hakkımda .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#hakkımda .col-left .hakkımda-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#hakkımda .col-left .hakkımda-img img:hover {
	box-shadow: 0px 0px 12px 0 purple;
}
#hakkımda .col-left .hakkımda-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid purple;
	z-index: -1;
}
/* Hakkımda Kısmı Bitti*/



/* İletişim Kısmı */
#iletişim .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#iletişim .iletişim-items {

	width: 100%;
}
#iletişim .iletişim-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#iletişim .iletişim-item:hover {
	box-shadow: 0px 0px 5px 0 purple;
}
#iletişim .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#iletişim .iletişim-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#iletişim .iletişim-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/* Form Ekleme */
.contact{
	font-size: 65.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1.3rem 3.5rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #0e0e0e;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.contact .row {
    display: flex;
    background-color: #0e0e0e;
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;

}
.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem 2rem;
    text-align: center;
}
.contact .row form h3 {
    text-transform: uppercase;
    font-size: 2.4rem;
	padding: 0.5rem 0;
    color: #fff;
}
.contact .row form .inputbox {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    border: 0.1rem solid rgba(255,255,255,0.4);
}
.contact .row form .inputbox i {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 30rem;
}
.contact .row form .inputbox:hover {
	box-shadow: 0px 0px 5px 0 #fff;
}
.contact .row form .inputbox input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
}
.contact .row form .inputbox input:hover {
	box-shadow: 0px 0px 5px 0 #fff;
}
.contact .row form .inputbox textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
}
.contact .row form .inputbox textarea:hover {
	box-shadow: 0px 0px 5px 0 #fff;
}
.contact .row form .btn {
    color: #e84242d3;
    background-color: #fff;
    font-weight: bold;
}
.contact .row form .btn:hover {
	box-shadow: 2px 2px 2px 2px #e84242d3;
}
/* İletişim Kısmı Bitti */


/* Footer Kısmı */
#footer {
	background-image: linear-gradient(60deg, #817983 0%, #7f6280eb 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction:column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
.brands h1 {
	font-size: 2rem;
	text-transform:none;
	color: white;
}
.brands h1 span {
	color: purple;
}

/* Sosyal Medya İkonları */
.social-media {
    float: left;
    width: 50%;
    padding: 10px;
	flex-direction:initial;
	text-align: center;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.buton {
    margin-top: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid #d4c067;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.5s;
}
.buton-sosyal {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
}
.social-media li{
	display:inline;
}

/* Buton Renkleri ve Özellikleri */
.buton-outline1 {
    background-color: #060606;
	border-color: purple;
}
.buton-outline2 {
    background-color: #050505;
	border-color: purple;
}
.buton-outline3 {
    background-color: #050505;
	border-color: purple;
}
.buton-outline4 {
    background-color: #070707;
	border-color: purple;
}

.buton-outline1:hover {
    color: #fff;
    background-color: #1177dd;
    border-color: #fff;
}
.buton-outline2:hover {
    color: #fff;
    background-color: #1177dd;
    border-color: #fff;
}
.buton-outline3:hover {
    color: #fff;
    background-color: rgba(225, 224, 224, 0.842);
    border-color: rgb(249, 108, 38);
}
.buton-outline4:hover {
    color: #fff;
    background-color: rgba(128, 128, 128, 0.841);
    border-color: #fff;
}
#inst:hover{
	color: rgb(249, 108, 38);
}
#inst{
	color:white;
}
/* Footer Kısmı Bitti */


/*--------------------------------------------------------------------------------------------------------------------------------*/


@keyframes eren_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: purple;
		font-weight: 500;
	}
}

/* Telefon Modu İçin */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	

	/* Anasayfa */
	#anasayfa h1 {
		font-size: 7rem;
	}

	/* Beceriler */
	#beceriler .beceriler-bottom .beceriler-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	/* Eğitim */
	#eğitim .eğitim-item {
		flex-direction: row;
	}
	#eğitim .eğitim-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#eğitim .eğitim-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#eğitim .tüm-eğitimler .eğitim-info {
		height: 100%;
	}
	#eğitim .tüm-eğitimler .eğitim-img {
		height: 100%;
	}
	
	/* Hakkımda */ 
	#hakkımda .about {
		flex-direction: row;
	}
	#hakkımda .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#hakkımda .about .col-left .hakkımda-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid purple;
	}
	#hakkımda .col-right {
		text-align: left;
		padding: 30px;
	}
	#hakkımda .col-right h1 {
		text-align: left;
	}

	/* İletişim */
	#iletişim .contact {
		flex-direction: column;
		padding: 50px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#iletişim .iletişim-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#iletişim .iletişim-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#iletişim .iletişim-item .icon {
		height: 100px;
		width: 100px;
	}
	#iletişim .iletişim-item .icon img {
		object-fit: contain;
	}
	#iletişim .iletişim-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

}

/* Tablet Modu İçin */
@media only screen and (min-width: 1200px) {

	/* Header */
	#header .eren {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	/* Beceriler */
	#beceriler .beceriler-bottom .beceriler-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

}